<div class="app-container">
  <mat-toolbar color="primary">
      <a mat-button routerLink="/" [routerLinkActive]="['menu-item-active']" [routerLinkActiveOptions]="{ exact: true }">
          Viseron
      </a>
      <a mat-button routerLink="/cameras" [routerLinkActive]="['menu-item-active']">
          Cameras
      </a>
      <a mat-button routerLink="/manage" [routerLinkActive]="['menu-item-active']">
        Manage
      </a>
      <a mat-button routerLink="/config" [routerLinkActive]="['menu-item-active']">
        Config
      </a>
      <span class="spacer"></span>

      <a mat-button routerLink="/admin" [routerLinkActive]="['menu-item-active']">
        Admin
      </a>
      <a mat-button routerLink="/about" [routerLinkActive]="['menu-item-active']">
        About
      </a>
  </mat-toolbar>
  <div class="app">
      <router-outlet></router-outlet>
  </div>
</div>